<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
        <div class="tracking-in-expand-fwd-top">
            <div class="fondo-menu-navegacion">
                    <ul class="menu-navegacion">
                    <li class="itemsMenuNavegacion1">
                        <a>C</a>
                    </li>
                    <li class="itemsMenuNavegacion2">
                        <a>A</a>
                    </li>
                    <li class="itemsMenuNavegacion3">
                        <a>R</a>
                    </li>
                    <li class="itemsMenuNavegacion4">
                        <a>N</a>
                    </li>
                    <li class="itemsMenuNavegacion5">
                        <a>A</a>
                    </li>
                    <li class="itemsMenuNavegacion6">
                        <a>V</a>
                    </li>
                    <li class="itemsMenuNavegacion7">
                        <a>A</a>
                    </li>
                    <li class="itemsMenuNavegacion8">
                        <a>L</a>
                    </li>
                </ul>
            </div>
                
            
    </div>
    <div class="text-focus-in">
        <div class="layered-card">
            <div class="layered-card__content">
                <h2>Porque celebramos carnaval?</h2>
                <p>ASHDNIASDHIASHDIA</p>
            </div>
        </div>

    </div>
</body>
</html>